/*DETEILANSICHT*/
#prodbild img {
    width: 500px;
    height: 500px;
}

#prodbild {
    display: block;
}

#backbutton {
    display: block;
}

#prodbild a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    line-height: 19px;
    text-decoration: none !important;
}

/*STARTSEITE*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.grid-item {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
    border-left: solid 0.5px grey;
    text-align: left;
    margin-left: 10px;
}

img {
    width: 375px;
    height: 360px;
}

#seiten {
    margin: 50px auto auto auto;
    width: 50%;
    text-align: center;
}

.pagebtn {
    border: solid 1px;
    height: 20px;
    border-radius: 0;
}

.pagebtn:hover {
    cursor: pointer;
}

#sold {
    display: block;
    margin-left: 45px;
    color: #DF2727;
}

.grau {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #505050;
    line-height: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #AFD96F;
    line-height: 24px;
}

.prodname {
    display: block;
    margin-left: 45px;
}

.price {
    display: block;
    margin-top: -15px;
    margin-left: 45px;
}

html,
body {
    height: 100%;
}

#filter {
    float: left;
    width: 300px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    display: block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 0px 6px;
    align-content: center;
}

::placeholder {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#suche {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
    display: inline-block;
    border: solid 1px;

}

#kategorien input[type="checkbox"] {
    appearance: none;
    box-sizing: border-box;
    padding: 0;
    width: 1.15em;
    height: 1.15em;
    position: absolute;
    display: grid;
    font: inherit;
    color: currentColor;
    border: 0.1em solid grey;
    border-radius: 0;
    margin-top: 0em;
    margin-left: -2.0em;
    transform: translateY(-0.075em);
    place-content: center;
    content: "";

}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.55em;
    transform: scale(0);
    content: "";
    border: 0.1em solid white;
    background-color: #AFD96F;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

[type="search"] {
    border: none;
}

#checkboxen {
    display: inline;

    margin-left: 40px;
    width: 50px;
}

.kategorie {
    margin-bottom: 20px;
    width: 20px;

}

#suchleiste {
    height: inherit;
    position: relative;
    top: -6px;
    left: -0px;
    display: inline-block;
}

input:focus {
    outline: none;
}


#kategorien {
    position: relative;
    width: 60px;
    height: auto !important;
    min-height: 150px;
    margin-top: 2.375em;
    margin-left: 3.25em;
}


label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    line-height: 19px;
    display: block;
    margin-top: 0.625em;
    text-align: left;
}

button[type="submit"]:hover {
    background-color: gray;
}

button[type="submit"] {
    display: inline-block;
    height: inherit;
    background: none;
    border-width: 0;
    border-style: none;
    outline: none;
}

#h2price {
    display: inline-block;
    position: absolute;
    margin-left: -6.5em;
    border: none;
}

#h2kat {
    display: inline-block;
    position: absolute;
    margin-top: 3.375em;
    margin-left: -10.5em;
    text-align: left;
    border: none;
}

#prices {
    height: 30px;
    margin-top: 3.625em;
    width: 215px;
    margin-left: 1.5em;
    display: block;
    border: solid 1px;

}